#title {
	cursor: pointer;
}

#IframeColumn {
	
}

.large-text {
	font-size: 1.7em;
	font-weight: lighter;
}

.footer {
	background-color: #576574;
	color: #ffffff;
	display: flex;
	justify-content: space-around;
	font-weight: 900;
	font-family: monospace;
}

.address-link {
	word-wrap: break-word;
	color: #dddddd;
	padding: 0.33em 1em 0.33em 1em;
}

.address-link:focus {
	color: #000000;
}

.iframe-box {
	margin: 10px;
}

/* Colours */
.light-blue-bg {
	background-color: #54a0ff;
	color: #ffffff;
}

.blue-bg {
	background-color: #2e86de;
	color: #ffffff;
}

.indigo-bg {
	/* background-color: #341f97; */
	background-color: #25166d;
	color: #ffffff;
}

.indigo-2-bg {
	background-color: #341f97;
	color: #ffffff;
}

.black-bg {
	background-color: #000000;
	color: #ffffff;
}

.sidebar {
	justify-content: space-evenly;
	text-align: center;
}

.sidebar-box {
	display: inline-flex;
	padding: 0.5em 0.5em 0.5em 0;
}

.dark-bg-link {
	transition: 0.3s;
	color: #ffffff;
}

.dark-bg-link:hover {
	color: #54a0ff;
	text-decoration: none;
}