#title {
	cursor: pointer;
}

#IframeColumn {
	background-color: #ffffff;
}

.large-text {
	font-size: 1.7em;
	font-weight: lighter;
}

.footer {
	background-color: #576574;
	color: #ffffff;
}

.address-link {
	word-wrap: break-word;
	color: #dddddd;
	padding: 0.33em 1em 0.33em 1em;
}

.address-link:focus {
	color: #000000;
}

.iframe-box {
	background-color: #10ac84;
	margin: 10px;
}

/* Colours */
.light-blue-bg {
	background-color: #54a0ff;
	color: #ffffff;
}

.blue-bg {
	background-color: #2e86de;
	color: #ffffff;
}

.indigo-bg {
	background-color: #341f97;
	color: #ffffff;
}

.indigo-2-bg {
	background-color: #25166d;
	color: #ffffff;
}